{% extends "base.html" %}

{% block content %}
<h1>Crear Producto </h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.nombre.label }} {{form.nombre}}
        <div>
            {% for error in form.nombre.errors %} 
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div>
        {{ form.precio.label}} {{form.precio}}
        <div>
            {% for error in form.precio.errors %} 
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div>
        {{ form.descripcion.label}} {{form.descripcion}}
        <div>
            {% for error in form.descripcion.errors %} 
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div>
        {{ form.imagen.label}} {{form.imagen}}
        <div>
            {% for error in form.imagen.errors %} 
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div>
        {{form.Proveedor.label}}
        <select name="Proveedor" id="Proveedor"> 
            {% for prov in proveedores %} 
            <option value="{{ prov.id }}">
                {{ prov.descripcion }}
            </option> 
            {% endfor %} 
        </select>
        <div>
            {{form.almacenes.label}}
            {% for curso in cursos %} <input type="checkbox" name="cursos" value="{{ curso.id }}" id="curso_{{ curso.id }}"> <label for="curso_{{ curso.id }}">{{ curso.nombre }}</label><br> {% endfor %}
        </div>
    </div>
    <div>
        
    </div>
    <label for="almacenes">Almacenes:</label><br> 
        {% for alm in almacenes %} 
            <input type="checkbox" name="cursos" value="{{ alm.id }}" id="almacenes-{{ alm.id }}"> <label for="almacenes_{{ alm.id }}">{{ alm.nombre }}</label><br> 
        {% endfor %}
    {{ form.submit }}
</form>
<a href="{{ url_for('productos.list_producto')}}">Volver a la lista</a>
{%endblock%}